:root {
    --background-color: #121212;
    --surface-color: #292929;
    --text-color: #eee;
    --title-color: #bb86fc;
    --button-hover: #6200ee;
}
* {
    font-family: "JetBrainsMono Nerd Font Mono", "Roboto Light", Arial, serif;
    color: var(--text-color);
}
h1 {
    color: var(--title-color)
}
h2 {
    color: var(--button-hover);
}
BODY {
    background-color: var(--background-color);
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.surface {
    background-color: var(--surface-color);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.surface>input{
    display: flex;
    justify-content: center;
    align-content: center;
}
.input{
    background-color: var(--background-color);
    border: none;
    outline: none;
    width: 100%;
    border-radius: 0.5rem;
    padding:2px;
    font-size: 1rem
}
.submission {
    width: 75%;
    background-color: var(--title-color);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding:2px;
    font-size: large;
    height:2rem;
    cursor: pointer;
    margin-top:1rem;
}.submission:hover {
     transition: all  0.5s;
     font-size: larger;
     background-color: var(--button-hover);
 }